.badged--see-all,
.badged--showing {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.badged--see-all {
  background-color: #f0ad4e;
}

.badged--showing {
  background-color: #78ae55;  
}