/* Reset */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Fonts */

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?6ic77o');
  src:  url('../fonts/icomoon/icomoon.eot?6ic77o#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?6ic77o') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?6ic77o') format('woff'),
    url('../fonts/icomoon/icomoon.svg?6ic77o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-settings:before {
  content: "\e900";
}
.ico-sort:before {
  content: "\e902";
}
.ico-rockect .path1:before {
  content: "\e903";
}
.ico-rockect .path2:before {
  content: "\e904";
  margin-left: -1em;
}
.ico-rockect .path3:before {
  content: "\e905";
  margin-left: -1em;
}
.ico-search-bold:before {
  content: "\e901";
}
.ico-plus:before {
  content: "\ea0a";
}
.ico-minus:before {
  content: "\ea0b";
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  background: #f6f6f6;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 540px;
}

.header {
  background-color: #fff;
  box-shadow: 0px 3px 6px -3px rgba(0,0,0,.25);
  height: 80px;
}

.header_wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}

.header_logo {
  line-height: 0;
}

.header_logo img {
  height: auto;
  max-width: 160px;
}

.leads-bubble {
  align-items: center;
  background-color: #434343;
  border-radius: 50%;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.leads-bubble_text {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.main_wrapper {
  margin: 20px auto;
  width: 90%;
}

.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px rgba(0,0,0,.125);
  margin-bottom: 20px;
  padding: 1.25rem;
  position: relative;
}

.card_actions {
  align-items: center;
  background-color: #b6b7bb;
  border-radius: 50%;
  color: #fff;
  display: flex;
  height: 30px;
  justify-content: center;
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
  width: 30px;
}

.lead_avatar {
  align-items: center;
  background: linear-gradient(to right, #fa6630, #be155e);
  border-radius: 50%;
  display: flex;
  height: 60px;
  justify-content: center;
  width: 60px;
  margin: 24px auto 24px;
}

.lead_avatar_text {
  color: #fff;  
  font-size: 26px;
  font-weight: 700;
}

.lead_name {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
}

.lead_contact-texts {
  color: rgba(63, 63, 63, .75);
  margin-bottom: 6px;
  text-align: center;
}

.lead_status {
  color: rgba(63, 63, 63, .75);
  font-size: 13px;
  margin-bottom: 24px;
  text-align: center;
}

.lead_status_badge {
  display: inline-block;
  padding: .4em 1.25em;
  font-size: 10px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.lead_status_badge--success {
  background-color: #78ae55;
  color: #fff;
}

.lead_status_badge--danger {
  background-color: #e80000;
  color: #fff;
}

.lead_status_last-conection {
  padding-left: 6px;
}

.lead_contact-icons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.lead_contact_icon {
  background: url('../images/icons-sprite.png') no-repeat;
  height: 40px;
  margin: 0 10px;
  width: 48px;
}

.lead_contact_email {
  background-position: 1px -1px;
}

.lead_contact_message {
  background-position: 0 -40px;
}

.lead_contact_phone {
  background-position: -1px -86px;
}

.footer {
  background-color: #343434;
}

.footer_nav {
  align-items: center;
  display: flex;  
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;  
}

.footer_nav_item {  
  padding: 10px 20px 5px;
  text-align: center;
}

.footer_nav_item_icon {
  color: #a0a0a0;
  font-size: 24px;  
}

.footer_nav_item_icon.ico-search-bold {
  position: relative;
  transform: rotate(90deg);
}

.footer_nav_item_text {
  color: #a0a0a0;
  font-size: 12px;
  font-weight: 600;
  margin-top: 4px;
  text-transform: uppercase;
}

.footer_bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 5px 0;
  width: 90%;
}

.footer_logo-left,
.footer_logo-right {
  line-height: 0;
}

.footer_copyright {
  color: #a0a0a0;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}